<a href="#">
  <div class="container__big-card">
    <div class="big-card__photo">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
        alt=""
        height="200px"
        srcset=""
      />
    </div>
    <div class="big-card__title">
      <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam adipisci
        deserunt natus ipsa fuga ab.
      </p>
    </div>
  </div>
</a>
